{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static "images/base/tripdeal.png" %}" />
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet"href="{% static "css/bootstrap-css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap-js/bootstrap.min.js" %}"></script>

{##}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Srisakdi" rel="stylesheet">


    <link rel="stylesheet" href="{%  static "css/base.css" %}">
    <link rel="stylesheet" href="{%  static "css/login.css" %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
        <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src= "{% static "images/base/tripdeal.png" %}"></a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                   <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Places</a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" ><h5>Choose a place</h5></a>
                        <div role="separator" class="dropdown-divider"></div>
                          {% for city in cities %}
                              <a class="dropdown-item" href="#">{{ city.name }}</a>
                          {% endfor %}
                      </div>
                   </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                </ul>


                <ul class="navbar-nav navbar-right ">
                    <!--For displaying messages-->
                    <li class="nav-item">
                        {% if messages %}
                            {% for message in messages%}
                                <li style="margin:0" class="alert alert-{{message.tags}}">{{message}}</li>
                            {% endfor %}
                        {% endif %}
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-user "></i> {{ user.get_full_name }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"  style="text-decoration:none;" href="{% url 'logout_user' %}"><span style="color:#4ac0d6">logout</span></a>
                            </div>
                        </li>
                    {% else %}
                    <a class="nav-link " href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                        <i class="far fa-user "></i>  <span >Sign into my AmièGoo! Account </span>
                    </a>
                    {% endif %}
                </ul>
              </div>
        </div>
    </nav>

    <div id="id01" class="modal">
        <form id="sign-in" method="POST" role="form" action="{% url 'login_page'%}" enctype="multipart/form-data" >
            {% csrf_token %}

            <!--After you processed your form you can redirect to the value of this path.-->
            <input type="hidden" name="next" value="{{ request.path }}">

            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
            <div class="sign-in">
               <span>SIGN IN</span>
            </div>
            <div class="top-background">
                <img src="{% static "images/base/if_profle_1055000.png" %}">
            </div>

            <fieldset>
                <section>
                    <input type="email" name="email" placeholder="Email" required>
                    <i class="fas fa-user"></i>
                </section>

                <section>
                    <input type="password" name="password" placeholder="Password" required>
                    <i class="fas fa-lock"></i>
                </section>

                    <input type="checkbox">
                    <span class="check-name">Remember me</span>
                    <a href="#" style=" font-size: 13px; color: #00BCB8;">Forgot your password?</a>

            </fieldset>
            <input  type="submit" value="LOGIN">
            <section  class="createAcc">
               <span style="color: white">New to AmièGoo!?</span>
                <a href="#" onclick="document.getElementById('sign-in').style.display='none' , document.getElementById('sign-up').style.display='block'" style=" font-size: 13px; color: #00BCB8;"> Create an account</a>
            </section>
        </form>


        <form id="sign-up" style="display: none" method="POST" role="form" action="{% url 'signUp'%}" enctype="multipart/form-data" >
            {% csrf_token %}
             
            <!--After you processed your form you can redirect to the value of this path.-->
            <input type="hidden" name="next" value="{{ request.path }}">

            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
            <div class="sign-in">
               <span>SIGN UP</span>
            </div>
            <div class="top-background">
                <img src="{% static "images/base/if_profle_1055000.png" %}">
            </div>

            <fieldset>
                <section>
                    <input type="text" name="full_name" placeholder="Full name" required>
                    <i class="fas fa-user"></i>
                </section>

                <section>
                    <input type="email" name="email" placeholder="Email" required>
                    <i class="fas fa-user"></i>
                </section>

                <section>
                    <input type="password" name="password1" placeholder="Password" required>
                    <i class="fas fa-lock"></i>
                </section>

                <section>
                    <input type="password" name="password2" placeholder="Confirm Password" required>
                    <i class="fas fa-lock"></i>
                </section>
            </fieldset>
            <input  type="submit" value="Create account">
            <section  class="createAcc">
               <span style="color: white">Already a member?</span>
                <a href="#" onclick="document.getElementById('sign-up').style.display='none' , document.getElementById('sign-in').style.display='block'" style=" font-size: 13px; color: #00BCB8;">
                    Sign in</a>
            </section>
        </form>
    </div>

   
    {% block body %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "{% static "js/base.js" %}">   </script>
</body>
</html>