{% extends 'TripPackages/base.html' %} 
{% load staticfiles %} 
{% block title %}{{places.0.city.name}}{% endblock %}
{% block body %}

<link rel="stylesheet" href="{% static "css/bootstrap-css/bootstrap3.css" %}">  
<link rel="stylesheet" href="{% static "css/City_template.css" %}">
<link href="https://fonts.googleapis.com/css?family=Anton|Bree+Serif|Lobster|Oswald|Roboto" rel="stylesheet">

   <div class="container">
            <div class="row city-img">
                 <img src="{{city.0.image.url}}" alt="{{city.0.name}}"/>
            </div>
            <div class="row city-about">
                <h2>About {{city.0.name}}</h2>
                <p>{{city.0.about_city}}</p>
            </div>

            <div class="row">
                <h2 class="sites-heading">Sites in {{city.0.name}}</h2>
            </div>
            
            <!-----------------------Site in {{city}}------------------>
                    
            <div id="accordion">
                {% if city.0.historical%}
                <div class="row card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            <i class="fas fa-minus"></i> 
                                Historical 
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            {% if places %}
                                {% for place in places %}
                                    {% if place.category == 'historical' %}
                                    
                                    <!--            card for every place (cards inside card)               -->
                                    <div class="row details">
                                        <h3>{{place.name}}</h3>
                                        <p>{{place.brief}}</p>

                                        <div class="content hide">
                                            {% comment %} <img src="{{place.image.url}}" alt="{{place.image}}"/> {% endcomment %}
                                            <img src="{{place.image.url}}" class="img-fluid" alt="{{place.image}}">
                                            <p>{{place.about_place}}</p>
                                            <a href="{{place.location}}" target="_blank">{{place.name}} location on google maps</a>
                                        </div>
                                        <button type="button" class="link btn btn-primary">Show more</button>
                                    </div>
                                    <hr class="separator">
                                    <!--            card for every place (cards inside card)               -->
                                   
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif%}

                {% if city.0.local_culture%}
                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <i class="fas fa-plus"></i>         
                                Local Culture 
                    </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                              {% if places %}
                                {% for place in places %}
                                    {% if place.category == 'local culture' %}
                                    
                                    <!--            card for every place (cards inside card)               -->
                                    <div class="row details">
                                        <h3>{{place.name}}</h3>
                                        <p>{{place.brief}}</p>

                                        <div class="content hide">
                                            {% comment %} <img src="{{place.image.url}}" alt="{{place.image}}"/> {% endcomment %}
                                            <img src="{{place.image.url}}" class="img-fluid" alt="{{place.image}}">
                                            <p>{{place.about_place}}</p>
                                            <a href="{{place.location}}" target="_blank">{{place.name}} location on google maps</a>

                                        </div>
                                        <button type="button" class="link btn btn-primary">Show more</button>
                                    </div>
                                    <hr class="separator">
                                    <!--            card for every place (cards inside card)               -->
                                   
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
                {% endif%}
                {% if city.0.local_cusine%}

                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            <i class="fas fa-plus"></i>
                                Local Cusine             
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            {% if places %}
                                {% for place in places %}
                                    {% if place.category == 'local cusine' %}
                                    
                                    <!--            card for every place (cards inside card)               -->
                                    <div class="row details">
                                        <h3>{{place.name}}</h3>
                                        <p>{{place.brief}}</p>

                                        <div class="content hide">
                                            {% comment %} <img src="{{place.image.url}}" alt="{{place.image}}"/> {% endcomment %}
                                            <img src="{{place.image.url}}" class="img-fluid" alt="{{place.image}}">
                                            <p>{{place.about_place}}</p>
                                            <a href="{{place.location}}" target="_blank">{{place.name}} location on google maps</a>
                                        </div>
                                        <button type="button" class="link btn btn-primary">Show more</button>
                                    </div>
                                    <hr class="separator">
                                    <!--            card for every place (cards inside card)               -->
                                   
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif%}

                {% if city.0.relaxation%}
                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapsefour">
                            <i class="fas fa-plus"></i>
                                Relaxation 
                        </a>
                    </div>
                    <div id="#collapsefour" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            {% if places %}
                                {% for place in places %}
                                    {% if place.category == 'relaxation' %}
                                    
                                    <!--            card for every place (cards inside card)               -->
                                    <div class="row details">
                                        <h3>{{place.name}}</h3>
                                        <p>{{place.brief}}</p>

                                        <div class="content hide">
                                            {% comment %} <img src="{{place.image.url}}" alt="{{place.image}}"/> {% endcomment %}
                                            <img src="{{place.image.url}}" class="img-fluid" alt="{{place.image}}">
                                            <p>{{place.about_place}}</p>
                                            <a href="{{place.location}}" target="_blank">{{place.name}} location on google maps</a>
                                        </div>
                                        <button type="button" class="link btn btn-primary">Show more</button>
                                    </div>
                                    <hr class="separator">
                                    <!--            card for every place (cards inside card)               -->
                                   
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif%}
            </div>
                        <!-----------------------End Sites in {{city}}------------>
</div>

  
<script src="{% static "js/City_template.js" %}"></script>

{% endblock %}