{% extends 'TripPackages/base.html' %}
{% load staticfiles %}
{% block body %}
   
    <div class="modal" style = "display:block">
        <form method="POST" id="reset-conf" role="form" action="" enctype="multipart/form-data" >
                {% csrf_token %}

                <!--After you processed your form you can redirect to the value of this path.-->
                <input type="hidden" name="next" value="{{ request.path }}">

                <div class="sign-in">
                <span>Reset Password</span>
                </div>
                <div class="top-background">
                    <img src="{% static "images/base/if_profle_1055000.png" %}">
                </div>
                <p class="error" id="reset-error"></p>
                <fieldset>
                    <section>
                        <input type="password" id="new_password1" name="new_password1" placeholder="New Password" required>
                        <i class="fas fa-lock"></i>
                    </section>

                    <section>
                        <input type="password"  id="new_password2" name="new_password2" placeholder="New Confirm Password" required>
                        <i class="fas fa-lock"></i>
                    </section>
                </fieldset>
                <input  type="button"  
                        onclick="validate_form ('reset-conf','new_password1','new_password2','reset-error')"  
                        value="Change Password">   
                
                        
        </form>
    </div>
{% endblock %}