<div class="container">
         <br>
            <div class="row">
                <div class="col-xs-8">
                    
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger small">{{ field.errors }}</span>
                                </div>
                                <label class="control-label col-sm-2" for="song_title">{{ field.label_tag }}</label>
                                <div class="col-sm-10">{{ field }}</div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Save" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
