{% extends 'TripPackages/base.html' %}
{% load staticfiles %}
{% block title %}Design Your Trip {% endblock %}

{% block body %}


    <!-- Main CSS-->
    <link href="{% static 'design_form/intl-tel-input-master/build/css/intlTelInput.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'design_form/number/number.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'design_form/css/main.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'design_form/select/x-tree-select.css' %}" rel="stylesheet" media="all">


<h1 class="title" id="title">Design Your Trip With Us</h1>

    <div class="page-wrapper p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">


                    <!-- Circles which indicates the steps of the form: -->

                    <br>
						<div class="steps">
                            <span class="step" onclick="step_button(0);" id="step1"></span>
						    <span class="step" onclick="step_button(1);" id="step2"></span>
						    <span class="step" onclick="step_button(2);" id="step3"></span>
                            <span class="step" onclick="step_button(3);" id="step4"></span>
						</div>
                    <br>
                    <br>
                    <h3 id="tabheader">This Form Will Help Your Local Agent to Create Your Program Based on Your Needs</h3>
                    
                    <form id="design_form" method="post" enctype="multipart/form-data" action={% url 'design_form_get' %}>
                    {% csrf_token %}
                    <!-- first tab -->
                    <div class="tab">
                    <br>
                        <div id="TripType">
                        <h4 class="Questions">I would like my trip to include...<span class="several_choices">(several choices possible)</span><span class="error_message" id="trip_type_error">Error!!: You forgot to answer this question</span></h4>
                            <div class="form-row">
                               <div class="btn-group"  id="desktop_btn_group"role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-info type_btn" onclick="change_filter(this);" id="relaxation"><img src="{% static 'design_form/images/relaxation.png' %}" ><span>Relaxation</span></button>
                                    <button type="button" class="btn btn-outline-info type_btn" onclick="change_filter(this);" id="historical"><img src="{% static 'design_form/images/historical_sites.png' %}" ><span>Historical Sites</span></button>
                                    <button type="button" class="btn btn-outline-info type_btn" onclick="change_filter(this);" id="culture"><img src="{% static 'design_form/images/local_culture.png' %}" ><span>Local Culture</span></button>
                                    <button type="button" class="btn btn-outline-info type_btn" onclick="change_filter(this);" id="cuisine"><img src="{% static 'design_form/images/local_cuisine.png' %}" ><span>Local Cuisine</span></button>
                                </div>
                            </div>
                            <div id="mobile_btn_group">
                                <button type="button" class="btn btn-outline-info type_btn mobile" onclick="change_filter(this);" id="relaxation_mobile"><img src="{% static 'design_form/images/relaxation_mobile.png' %}" ><span>Relaxation</span></button>
                                <button type="button" class="btn btn-outline-info type_btn mobile" onclick="change_filter(this);" id="historical_mobile"><img src="{% static 'design_form/images/historical_mobile.png' %}" ><span>Historical Sites</span></button>
                                <button type="button" class="btn btn-outline-info type_btn mobile" onclick="change_filter(this);" id="culture_mobile"><img src="{% static 'design_form/images/local_culture_mobile.png' %}" ><span>Local Culture</span></button>
                                <button type="button" class="btn btn-outline-info type_btn mobile" onclick="change_filter(this);" id="cuisine_mobile"><img src="{% static 'design_form/images/local_cuisine_mobile.png' %}" ><span>Local Cuisine</span></button>
                            </div>
                            
                            <span class="error_message_mobile" id="trip_type_error_mobile">Error!!: you forgot to answer this question</span>


                    </div>
                    <div id="whereToGo">
                        <h4 class="Questions">Your Trip Could Include...</h4>
                        <button type="button" class="btn btn-info city large" disabled  id="cairo" >Cairo</button>
                        <button type="button" class="btn btn-info city large" disabled  id="alexandria" >Alexandria</button>
                        <button type="button" class="btn btn-info city large" disabled  id="luxour" >Luxour</button>
                        <button type="button" class="btn btn-info city large" disabled  id="aswan" >Aswan</button>
                        <button type="button" class="btn btn-info city large" disabled  id="dahab" >Dahab</button>
                        <button type="button" class="btn btn-info city large" disabled  id="marsa_alam" >Marsa Alam</button>
                        <button type="button" class="btn btn-info city large" disabled  id="siwa" >Siwa</button>
                    </div>

                        <div id="about_trip_question">
                            <br>
                        <h4 class="Questions">I would like my trip to include...<span class="several_choices">(several choices possible)</span><span class="error_message" id="about_trip_question_error">Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-md-4">
                               <label class="radio-container m-r-45">Highlights
                                   <input type="checkbox" onchange="checkbox_error(this);" name="about_trip" id="highlights" value="Highlights">
                                   <span class="checkmark square"></span>
                               </label>
                               <label class="radio-container">Off the beaten track
                                   <input type="checkbox" onchange="checkbox_error(this);" name="about_trip" id="off_the_beaten_track" value="Off the beaten track">
                                   <span class="checkmark square"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id="about_trip_question_error_mobile">Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="budget_question" onclick="budget_error();">
                        <br>
                        <h4 class="Questions">Your Average Budget per person($)<span class="error_message" id="budget_error">Error!!:you forgot to answer this question</span></h4>
                        <div class="form-row">
                               <input class="number" onchange="budget_error();" type="number" value="0" step="100" max="10000" min="0" id="budget" name="budget">
                        </div>
                        <span class="error_message_mobile" id='budget_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>
                </div>

                    <!-- second tab -->
                <div class="tab">
                    <br>
                    <div id="people_question">
                        <h4 class="Questions">You will be traveling...<span class="error_message" id="people_question_error">Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-2">
                               <label class="radio-container m-r-45">Solo
                                   <input type="radio" onchange="showQuestion(this);" onclick="Tab2_first_question();" name="people_question" id="solo" value="solo">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">Couple
                                   <input type="radio" onchange="showQuestion(this);" onclick="Tab2_first_question();" name="people_question" id="couple" value="couple">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">Family
                                   <input type="radio" onchange="showQuestion(this);" onclick="Tab2_first_question();" name="people_question" id="family" value="family">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">Friends
                                   <input type="radio" onchange="showQuestion(this);" onclick="Tab2_first_question();" name="people_question" id="friends" value="friends">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id="people_question_error_mobile">Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="couple_question" class="variable_question">
                        <br>
                        <h4 class="Questions">What's the reason for your trip?<span class="error_message" id='couple_question_error'>Error!!:you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-3">
                               <label class="radio-container">Just for vacation
                                   <input type="radio" id='vacation' onclick='Tab2_couple_question();' name="couple_question" value="vacation">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">Honey Moon
                                   <input type="radio" id="honey_moon" onclick='Tab2_couple_question();' name="couple_question" value="honey_moon">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">Other
                                   <input type="radio" id='other' onclick='Tab2_couple_question();' name="couple_question" value="other">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id='couple_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="number_people" onclick="Tab2_number_question();" class="variable_question">
                        <br>
                        <div class="form-row">
                           <div class="form-group" style="margin-right: 10px">
                               <label class="number_label">Adult
                               </label>
                               <input class="number" type="number" value="1" step="1" max="10" min="1" id="number_adult" name="adult_number">
                           </div>
                            <div class="form-group">
                               <label class="number_label">Children
                               </label>
                               <input class="number" type="number" value="0" step="1" max="10" min="0" id="number_children" name="chidren_number">
                           </div>
                        </div>
                        <span class="error_message" id='number_people_error'>Error!!: you forgot to answer this question</span>
                        <span class="error_message_mobile" id='number_people_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>


                    <div id="exactTime_question">
                        <br>
                        <h4 class="Questions">Do you know the exact dates of your trip?<span class="error_message" id='exactTime_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-2">
                               <label class="radio-container m-r-45">Yes
                                   <input type="radio" onchange="showQuestion2(this);" onclick='Tab2_exact_question();' name="exact_date" id="date_yes" value="yes">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">No
                                   <input type="radio" onchange="showQuestion2(this);" onclick='Tab2_exact_question();'name="exact_date" id="date_no" value="no">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id='exactTime_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="notSure_date" class="variable_question2">
                        <br>
                        <h4 class="Questions">Do you have a rough idea?<span class="error_message" id='notSure_date_error'>Error!!:you forgot to answer this question</span></h4>
                        <div class="form-row">
                            <div class="col-md-3">
                            <label for="month" class='form_label'>Month(approx)</label>
                                <select class="form-control" name="month" id="month" onchange="Tab2_notSure_questionDrop();">
                                    <option id="month_default" selected disabled>Month(approx)</option>
                                    <option id="option1"></option>
                                    <option id="option2"></option>
                                    <option id="option3"></option>
                                    <option id="option4"></option>
                                    <option id="option5"></option>
                                    <option id="option6"></option>
                                    <option id="option7"></option>
                                    <option id="option8"></option>
                                    <option id="option9"></option>
                                    <option id="option10"></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                            <label for="period" class='form_label'>How Long(approx)</label>
                                <select class="form-control" name="period" id="period" onchange="Tab2_notSure_questionDrop();">
                                    <option value="period_default" selected disabled>How Long(approx)?</option>
                                    <option id="op1"></option>
                                    <option id="op2"></option>
                                    <option id="op3"></option>
                                    <option id="op4"></option>
                                    <option id="op5"></option>
                                    <option id="op6"></option>
                                </select>
                            </div>
                        </div>
                        <span class="error_message_mobile" id='notSure_date_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="exact_dates" class="variable_question2">
                        <br>
                        <div class="form-row">
                            <div class="m-r-45">
                                <h4 class="Questions">Arrival Date</h4>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'design_form/images/calender.png' %}"></span>
                                    </div>
                                    <input id="arrival_date" name="arrival_date" onchange="adjustDate(this); Tab2_calender();" class="form-control" type="date"/>
                                </div>
                            </div>

                            <div>
                                <h4 class="Questions">Departure Date</h4>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="{% static 'design_form/images/calender.png' %}"></span>
                                    </div>
                                    <input id="departure_date" name="departure_date" onchange="Tab2_calender();" class="form-control" type="date"/>
                                </div>
                            </div>
                        </div>
                        <span class="error_message" id='exact_dates_error'>Error!!: you forgot to answer this question</span>
                        <span class="error_message_mobile" id='exact_dates_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>
                </div>

                <!-- third tab -->
                <div class="tab">
                <br>    
                <div id="whereTobeginTrip_question">
                            <br>
                        <h4 class="Questions">I want My Trip To Begin From<span class="error_message" id='whereTobeginTrip_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-3" id='wheretobegin_div'>
                               <label class="radio-container m-r-45 whereToBegin" id="cairo_tab3">Cairo
                                   <input type="radio" onclick='Tab3_wheretobegin();' name="whereTobeginTrip_question" id='cairo_in' value="cairo">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container m-r-45 whereToBegin" id="alexandria_tab3">Alexandria
                                   <input type="radio" onclick='Tab3_wheretobegin();' name="whereTobeginTrip_question" id='alexandria_in' value="alexandria">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container m-r-45 whereToBegin" id="luxour_tab3">Luxour
                                   <input type="radio" onclick='Tab3_wheretobegin();' name="whereTobeginTrip_question" id='luxour_in' value="luxour">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container m-r-45 whereToBegin" id="aswan_tab3">Aswan
                                   <input type="radio" onclick='Tab3_wheretobegin();' name="whereTobeginTrip_question" id='aswan_in' value="aswan">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container m-r-45 whereToBegin" id="dahab_tab3">Dahab
                                   <input type="radio" onclick='Tab3_wheretobegin();' name="whereTobeginTrip_question" id='dahab_in' value="dahab">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container m-r-45 whereToBegin" id="marsa_alam_tab3">Marsa_Alam
                                   <input type="radio" onclick='Tab3_wheretobegin();' name="whereTobeginTrip_question" id='marsa_alam_in' value="marsa_alam">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container whereToBegin" id="siwa_tab3">Siwa
                                   <input type="radio" onclick='Tab3_wheretobegin();' name="whereTobeginTrip_question" id='siwa_in' value="siwa">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                         <span class="error_message_mobile" id='whereTobeginTrip_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="language_question">
                            <br>
                        <h4 class="Questions">I Want My Agent To Speak<span class="error_message" id='language_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-2">
                               <label class="radio-container m-r-45">English
                                   <input type="radio" onclick='Tab3_language();' name="language_question" id="english" value="english">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">French
                                   <input type="radio" onclick='Tab3_language();' name="language_question" id="french" value="french">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                         <span class="error_message_mobile" id='language_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="guide_time_question">
                        <br>
                        <h4 class="Questions">I Need My agent From<span class="error_message" id='guide_time_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-3" id='guide_time_div'>
                               <label class="radio-container m-r-45">From 9am-5pm
                                   <input type="radio" onclick='Tab3_agenttime();' name="guide_time" id="from9to5" value="from9to5">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">From 5pm-12am
                                   <input type="radio" onclick='Tab3_agenttime();' name="guide_time" id="from5to12" value="from5to12">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id='guide_time_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="welcome_question">
                        <br>
                        <h4 class="Questions">Do you need your agent to welcome you at airport ?<span class="error_message" id='welcome_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-2">
                               <label class="radio-container m-r-45">Yes
                                   <input type="radio" onclick='Tab3_welcome();' name="welcome" id="welcome_yes" value="yes">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">No
                                   <input type="radio" onclick='Tab3_welcome();' name="welcome" id="welcome_no" value="no">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id='welcome_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="byebye_question">
                        <br>
                        <h4 class="Questions">Do you need your agent to bye bye you at airport ?<span class="error_message" id='byebye_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-2">
                               <label class="radio-container m-r-45">Yes
                                   <input type="radio" onclick='Tab3_byebye();' name="byebye_question" id="byebye_yes" value="yes">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">No
                                   <input type="radio" onclick='Tab3_byebye();' name="byebye_question" id="byebye_no" value="no">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id='byebye_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="car_question">
                        <br>
                        <h4 class="Questions">Do you need your agent to have a car ?<span class="error_message" id='car_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-2">
                               <label class="radio-container m-r-45">Yes
                                   <input type="radio" onclick='Tab3_car();' name="car_question" id="car_yes" value="yes">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">No
                                   <input type="radio" onclick='Tab3_car();' name="car_question" id="car_no" value="no">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id='car_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="camera_question">
                        <br>
                        <h4 class="Questions">Do you need your agent to have a camera ?<span class="error_message" id='camera_question_error'>Error!!: you forgot to answer this question</span></h4>
                        <div class="form-row">
                           <div class="col-2">
                               <label class="radio-container m-r-45">Yes
                                   <input type="radio" onclick='Tab3_camera();' name="camera_question" id="camera_yes" value="yes">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">No
                                   <input type="radio" onclick='Tab3_camera();' name="camera_question" id="camera_no" value="no">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                        <span class="error_message_mobile" id='camera_question_error_mobile'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="additional_info">
                        <br>
                        <h4 class="Questions">Additional info<span class="several_choices">(optional)</span></h4>
                        <span style="color: #939393;">For example: the different parts of your trip including desired activities, what you like, what you don't like, any physical limitations of travelers, or any questions about the trip… </span>
                        <div class="form-row">
                           <textarea class="form-control" id="additional_info_textarea" name="additional_info"></textarea>
                        </div>
                        <span class="error_message_mobile">Error!!: you forgot to answer this question</span>
                    </div>

                </div>

                <!-- fourth tab -->
                <div class="tab">
                    <br>
                    <h3 id="tabheader">One Last Step</h3>
                    <br>
                    <div id='Email' class='form-group'>
                    <label for="Email" class='form_label'>Email Address</label>
                        <div class="w_75 input-group mb-1"> 
                            <input type="text" class="w_75 form-control" id='email_input' onchange="hide_divs();" name='email' placeholder="email">
                            <img src="{% static 'design_form/images/correct18.png'%}" id='email_checked' class='input_img'>
                            <img src="{% static 'design_form/images/loading23.gif'%}" id="loading" class='input_img'>
                            <div class="input-group-append" id='checkButton_div'>
                                <button class="btn btn-info btn" type="button" onclick='checkEmail();' id='checkButton'>Check Email</button>
                            </div>
                        </div>
                        <span id='email_info' class="password_info"></span>
                        <span id="invalid_email" class="form_error">Error!!: Enter a Valid Email</span>
                        <span class="form_error" id='Email_error'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id='signup_div' style="display:none">

                    <div id='password_div_signup' class='form-group'>
                    <br>
                    <label for="password" class='form_label'>Create Your Password</label>
                        <div class="w_75 input-group mb-1">
                            <input type="password" id='password_input_signup' onchange="Tab4_password_signup(this);" name="password_signup" class="form-control" placeholder="password">
                            <img src="{% static 'design_form/images/view22.png'%}" onclick='toggle_password(this);' id='password_view_signup' class="input_img">
                            <img src="{% static 'design_form/images/hide22.png'%}" onclick='toggle_password(this);' id='password_hide_signup' class="input_img">
                        </div>
                        <span class="form_error" id='password_notStrong'>Error!!: Your password is not strong enough</span>
                        <span class="form_error" id='password_error'>Error!!: you forgot to answer this question</span>
                    </div>
                    <div id='password_div_signup2' class='form-group'>
                    <br>
                    <label for="password2" class='form_label'>Please Enter Your Password Again</label>
                        <div class="w_75 input-group mb-1">
                            <input type="password" id='password_input_signup2' onchange="Tab4_password_signup2(this);" name="password_signup2" class="form-control" placeholder="password">
                            <img src="{% static 'design_form/images/view22.png'%}" onclick='toggle_password(this);' id='password_view_signup2' class="input_img">
                            <img src="{% static 'design_form/images/hide22.png'%}" onclick='toggle_password(this);' id='password_hide_signup2' class="input_img">
                        </div>
                        <span class="password_info">Your Password must contain at least:
                           <ul>
                                <li>8 characters</li>
                                <li>1 number</li>
                                <li>1 letter</li>
                           </ul> 
                        </span>
                        <span class="form_error" id='password_notStrong2'>Error!!: Your Entered Password do not match</span>
                        <span class="form_error" id='password_error2'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id="title_question">
                        <br>
                        <label for="title" class='form_label'>Title</label>
                        <div class="form-row">
                           <div class="col-md-4">
                               <label class="radio-container m-r-45">Mrs / Ms / Miss 
                                   <input type="radio" onclick="Tab4_title();" name="title_question" id="ms" value="Mrs / Ms / Miss">
                                   <span class="checkmark"></span>
                               </label>
                               <label class="radio-container">Mr
                                   <input type="radio" onclick ="Tab4_title();  " name="title_question" id="mr" value="Mr">
                                   <span class="checkmark"></span>
                               </label>
                           </div>
                        </div>
                         <span class="form_error" id='title_question_error'>Error!!: you forgot to answer this question</span>
                    </div>

                    <div id='name_question'> 
                    <br>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class='mb-1'>
                                    <label for="first_name" class='form_label'>First Name</label>
                                    <input type="text" class="form-control" onchange='Tab4_first_name(this);' id="first_name" name='first_name' placeholder="first name">
                                </div>
                                <span class="form_error" id='first_name_error'>Error!!: you forgot to answer this question</span>
                            </div>
                            <div class="form-group col-md-6">
                                <div class='mb-1'>
                                    <label for="last_name" class='form_label'>Last Name</label>
                                    <input type="text" class="form-control" onchange='Tab4_last_name(this);' id="last_name" name='last_name' placeholder="last name">
                                </div>
                                <span class="form_error" id='last_name_error'>Error!!: you forgot to answer this question</span>
                            </div>
                        </div>
                    </div>

                    <div id='country_question'> 
                    <br>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class='mb-1'>
                                    <label for="first_name" class='form_label'>Country</label>
                                    <select id="address-country" onchange='Tab4_country(this);' class='form-control' name='country' placeholder="country"></select>
                                </div>
                                <span class="form_error" id='country_question_error'>Error!!: You forgot to answer this question</span>
                            </div>
                            <div class="form-group col-md-6">
                                <div class=''>
                                    <label for="mobile" class='form_label'>Mobile</label>
                                </div>
                                <input id="phone" type="tel" onchange='Tab4_phone(this);' class='form-control' name='mobile'>
                                <span id="valid-msg" class="form_error"><img src="{% static 'design_form/images/correct18.png'%}">Valid</span>
                                <span id="error-msg" class="form_error"></span>
                                <span class="form_error" id='mobile_error'>Error!!: You forgot to answer this question</span>
                            </div>
                        </div>
                    </div>
                    

                    <div id='birthDay_question'>
                        <br> 
                        <div class='form_row'>  
                            <div class=''>
                                <label for="birthday" class='form_label'>BirthDay</label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="{% static 'design_form/images/calender.png' %}"></span>
                                </div>
                                <input id="birthday" name="birthday" onchange='Tab4_birthday(this);' class="form-control" type="date"/>
                            </div>
                            <span class="form_error" id='birthDay_question_error'>Error!!: You forgot to answer this question</span>
                        </div>
                    </div>
                        
                
                    </div>
                    

                </div>




                    <div class="hidden_inputs">
                        <input type="text" id="trip_type" name='trip_type' class="form-control">
                        <input type="text" id="about_trip" name='about_trip' class="form-control">
                        <input type="text" id="country_complete" name='country_complete' class="form-control">
                        <input type="text" id="mobile_complete" name='mobile_complete' class="form-control">
                    </div>

                    </form>




                    <div class="next_previous">
                        <button type="button" id="next" class="btn btn-outline-success large"
                            onclick="nextPrev(1)">Next</button>
                        <button type="button" id="previous" class="btn btn-outline-secondary large"
                                onclick="nextPrev(-1)">Previous</button>
                    </div>


                </div>
            </div>
        </div>
    </div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="{% static "design_form/images/philae_island_aswan_2317.jpg" %}" alt="First slide">
        </div>
    </div>
</div>

    <script src="{% static 'design_form/intl-tel-input-master/build/js/intlTelInput.js' %}"></script>
    <script src="{% static 'design_form/select/x-tree-select.js' %}"></script>
    <script src="{% static 'design_form/number/number.js' %}"></script>
    <script src="{% static 'design_form/js/design_form.js' %}"></script>

{% endblock %}
