{% extends 'TripPackages/base.html' %}
{% load staticfiles %}


{% block title %}
{{user.full_name}} Profile
{% endblock title %}

{% block body %}



<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link href="{% static 'design_form/intl-tel-input-master/build/css/intlTelInput.css' %}" rel="stylesheet" media="all">
<link rel="stylesheet" href="{% static "user_profile/css/bootstrap3.css" %}">
<link rel="stylesheet" href="{% static "user_profile/css/user_profile.css" %}">
</head>

<div class="bootstrap3">
<br>
<br>
<br>
<br>

<div class="container bootstrap snippet">
 
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block">
      </div></hr><br>

          
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile  <i class="fas fa-user-circle"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Full Name</strong></span>{{user.full_name}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Country</strong></span>{{user.country}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>{{user.register_date}}</li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item text-muted">Activity  <i class="fas fa-chart-line"></i> </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Designed Trips</strong></span>{{DesignedTrips.count}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Your Packages</strong></span> #</li>
          </ul> 
               
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
        <br>
        <br>
        <br>
        <br>
        <br>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#designed_trips">Designed Trips  <i class="fas fa-pen"></i></a></li>
                <li><a data-toggle="tab" href="#trip_packages">Trip Packages  <i class="fas fa-suitcase"></i></a></li>
                <li><a data-toggle="tab" href="#personal_info">Personal Info  <i class="fas fa-user"></i></a></li>
              </ul>

              
          <div class="tab-content">

            <div class="tab-pane active" id="designed_trips">
                <hr>
                {% if DesignedTrips %}
                {% for trip in DesignedTrips  %}
                  <div class="card text">

                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="active"><a data-toggle="tab" href="#requested_trips">Requested Trip</a> </li>
                        <li><a data-toggle="tab" href="#trip_program">Trip Program</a></li>
                      </ul>
                    </div>

                    <div class="tab-content">

                      <div class="tab-pane active" id="requested_trips">
                        <div class="card-body">
                        <div class="summ_div" id="summ_div{{trip.id}}">
                            <p>
                              <ul class="list-group">
                                <li class="list-group-item text-muted">Request Summary</i> </li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Request Date</strong></span>{{trip.form_submitted_date}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Request Status</strong></span>{{trip.status}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Trip Type</strong></span>{{trip.trip_type}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Trip Mode</strong></span>{{trip.about_trip}}</li>
                              </ul>
                            </p>
                        </div>
                        <div class="full_div" id="full_div{{trip.id}}">
                            <p>
                              <ul class="list-group">
                                <li class="list-group-item text-muted">Request Full Details</i> </li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Request Date</strong></span>{{trip.form_submitted_date}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Request Status</strong></span>{{trip.status}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Trip Type</strong></span>{{trip.trip_type}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Trip Mode</strong></span>{{trip.about_trip}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Budget From</strong></span>{{trip.budget_from}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Budget To</strong></span>{{trip.budget_to}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Travel With</strong></span>{{trip.travel_with}}</li>
                                {% ifequal trip.travel_with  "Couple" %}
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Couple Trip</strong></span>{{trip.couple_question}}</li>
                                {% endifequal %}
                                {% ifequal trip.travel_with  "Family"%}
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Adult Number</strong></span>{{trip.adult_number}}</li>
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Chidren Number</strong></span>{{trip.chidren_number}}</li>
                                {% endifequal %} 
                                {% ifequal trip.travel_with "Friends" %}
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Adult Number</strong></span>{{trip.adult_number}}</li>
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Chidren Number</strong></span>{{trip.chidren_number}}</li>
                                {% endifequal %}
                                {% ifequal trip.exact_date  "Yes" %}
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Arrival Date</strong></span>{{trip.arrival_date}}</li>
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Departure Date</strong></span>{{trip.departure_date}}</li>
                                {% endifequal %}
                                {% ifequal trip.exact_date "No" %}
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>Month(approx)</strong></span>{{trip.month}}</li>
                                  <li class="list-group-item text-right"><span class="pull-left"><strong>How Long(approx)?</strong></span>{{trip.period}}</li>
                                {% endifequal %}
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Start Trip From</strong></span>{{trip.begin_trip}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Guide Language</strong></span>{{trip.agent_language}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Guide Needed</strong></span>{{trip.agent_time}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Need Airport Welcome</strong></span>{{trip.agent_welcome}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Need Airport ByeBye</strong></span>{{trip.agent_byebye}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Need Car</strong></span>{{trip.agent_car}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Need Camera</strong></span>{{trip.agent_camera}}</li>
                              </ul>
                            </p>
                        </div>
                        <div>
                          <button class="btn btn-primary pull-left card_button" onclick="showhide(this,{{trip.id}});" id="showhide{{trip.id}}"><i id="showhideIcon{{trip.id}}" class="fas fa-plus"></i> Show Full Details</button>
                          <form id="cancel_request_form" method="post" enctype="multipart/form-data" action={% url 'cancel_request' %}>
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger pull-right card_button" onclick="cancelRequest({{trip.id}});" id="cancel{{trip.id}}"><i class="fas fa-trash-alt"></i> Cancel Request</button>
                            <input type="text" value="{{trip.id}}" style="display:none;" name="trip_id">
                          </form>
                          
                        </div>



                        </div>
                      </div>

                      <div class="tab-pane" id="trip_program">
                        <div class="card-body">
                            
                        </div>
                      </div>

                  </div>

                </div>
                <br>
                {% endfor %}
                {% else %}
                  <p class="text-xl-center font-weight-bold text-muted">You Have Not Requested Any Trips</p>
                {% endif %}
                
                  

              

              
             </div><!--/tab-pane-->


             <div class="tab-pane" id="trip_packages">
               <hr>
              {% if TripPackages %}
                {% for Package in TripPackages  %}
                {% endfor %}
              {% else %}
                <p class="text-xl-center font-weight-bold text-muted">You Have Not Added Any Packages</p>

              {% endif %}
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="personal_info">
                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm" autocomplete="off">
                

                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" value="{{user.full_name}}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="country"><h4>Country</h4></label>
                            <select id="address-country" onchange='' class='form-control' name='country'></select>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <div>
                                <label for="mobile" class='form_label'><h4>Mobile</h4></label>
                              </div>
                              <input id="phone" type="tel" onchange='' class='form-control' name='mobile' value="{{user.mobile}}">
                              <span id="valid-msg" class="form_error"><img src="{% static 'design_form/images/correct18.png'%}">Valid</span>
                              <span id="error-msg" class="form_error"></span>
                          </div>
                          <div id='test'></div>
                      </div>
                      <div class="form-group"> 
                          <div class="col-xs-6">
                              <label for="title"><h4>Title</h4></label>
                              <br>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="mr" name="title" class="custom-control-input">
                                <label class="custom-control-label" for="mr">Mr</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="ms" name="title" class="custom-control-input">
                                <label class="custom-control-label" for="ms">Mrs / Ms / Miss</label>
                              </div>
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                              	<button class="btn btn-lg btn-success pull-right" type="submit"><i class="fas fa-check"></i>  Save</button>
                               	<button class="btn btn-lg btn-light pull-right" type="button"><i class="fas fa-edit"></i>  Edit</button>
                            </div>
                      </div>

                      
              	</form>
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

    </div> <!--/bootstrap3-->
                         
  <div class="hidden_inputs">
    <input type='text' value="{{user.id}}" id="user_id">
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'user_profile/intl-tel-input-master/build/js/intlTelInput.js' %}"></script>
  <script src="{% static 'user_profile/js/user_profile.js' %}"></script>


{% endblock body %}